<section>
  <div class="container">
    <h1 style="text-align:center">Booking Flats</h1>
    <p style="text-align:center">Find where to stay in your next vacations.</p>
    <p class="text-center"><%= link_to "Check for Flats", flats_path, class: 'btn btn-outline-light btn-lg' %></p>
  </div>
</section>
