<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('brandon-griggs-wR11KBaB86U-unsplash.jpg') %>);">
  <div>
    <h1 style="text-align:center">Booking Flats</h1>
    <p style="text-align:center">Find where to stay in your next vacations.</p>
    <p class="text-center"><%= link_to "Check for Flats", flats_path, class: 'btn btn-outline-light' %></p>
  </div>
</div>
<div class="container">
</div>
