.navbar-lewagon {
  justify-content: space-between;
  background: rgb(240, 240, 240);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.morph {
  border-radius: 5px;
  background: #F0F0F0;
  box-shadow:  20px 20px 60px #cccccc,
              -20px -20px 60px #ffffff;
}
